body {
    width: 1180px;
    border-radius: 25px;
    margin: 10px auto;
    background-color: #4674c9;
    padding: 0px 20px 135px 20px;
    border: 5px solid black;
}

h1 {
    color: white;
    text-align: center;
    font-family: cursive;
}

.Contenido {
    color: #110f10;
    border-radius: 30px;
    margin: 0px 40px 0px 40px;
    padding: 10px 40px 10px 40px;
    background-color: #7ba8db;
    
}

.Conclusión {
    color: #110f10;
    font-size: 20px;
    border-radius: 30px;
    margin: 20px 40px 0px 40px;
    padding: 20px 40px 5px 40px;
    background-color: #7ba8db;
}

.Imagen h3 {
    display: none;
}

.Imagen img {
    height: 300px;
    display: block;
    border-radius: 500px;
    border: 3px solid white;
    margin: 20px auto 20px auto;
}