*{
    margin: 0;
    padding: 0;    
}

body{
    background: #154c79;
    flex-direction: column;
    display: flex,    
}

img {
    margin-top: 10px;
    
    width: 65px;
    height: auto;
}

.logos{
    display:inline;
    float: right;
    align-items: flex-end;
    justify-content: right;
    margin-right: 30px;
}

.portal{
    margin: 0;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    display: flex;
    height: 150px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

li{
    text-align:center;
    box-shadow: rgb(10, 10, 10) 5px 5px, rgba(14, 15, 63, 0.3) 10px 10px;
    list-style: none;

    outline: 2px solid black;
    width: 150px;
    height: auto
}

.Menu {
    display: flex;
    margin-left: 30px;
    align-items: flex-start;   
}

.Menu_item{
    list-style: none;
    background-color: white;
    outline: 2px solid black;
    width: 150px;
    height: 28px;
}

.Menu_item1{
    list-style: none;
    background-color: white;
    outline: 2px solid black;
    width: 150px;
    height: 28px;
    background-color: rgb(107, 201, 255);
}

.Menu_calculos_item1{
    list-style: none;
    outline: 2px solid black;
    width: 500px;
    height: 28px;
    align-content:center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: -25px;
    background-color: rgb(107, 201, 255);
    

}

.Menu_calculos_item{
    background-color: white;
    list-style: none;
    outline: 2px solid black;
    width: 500px;
    height: 28px;
    align-content:center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: -25px;

}

.Menu_calculos{
    display: inline-flex;
    margin-left: 30px;
    width: 2000px;
}

form{
    margin-top: 50px;
}


.button{
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    width: 150px;   
}

.button1{
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(107, 201, 255);
    width: 150px; 
}

body div form ul li{
    display: inline;
}

.input{
    margin-top: 23px;
    width: 80px;
    height: 25px;
    border-block-color: black;    
}

label{
    color: white;
    margin-left: 80px;
    font-weight: bold;
    font-size: 19px;
    display:inline-block;
    width: 100px;   
}

.submit{
    margin-top: 50px;
    margin-left:44%;
    margin-right: 30%;
}